.c-gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

figure{
    background-color:  #00adef;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid orange;
    cursor: pointer;
    box-shadow: 2px -2px 6px gray;
    width: 220px;
    height: 350px ;
    overflow: hidden;
}

img{
    width: 200px;
    height: 240px;
    border-radius: 10px;
    margin: 4px;
}

h3{
    text-decoration: none;
    color: black;
    margin: 4px;
    font-size: 16px;
}

.c-link{
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0px;
}

figcaption{
    font-size: 14px;
}