

.c-detail{
    width: 600px;
    height:auto;
    margin: 40px;
}

.c-detail__img{
    width: 300px;
    height: 400px;
}

p{
    margin: 10px;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: aqua;
    cursor: pointer;
}